.App {
  text-align: center;
  background: linear-gradient(to bottom right, #3b9ddf, #6053c5);
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background: linear-gradient(to bottom right, #115a31, #6c5ce7);
}

.chessboard-container {
  margin: 20px auto;
  max-width: 800px;
  width: 90vw;
  height: auto;
  border: 6px solid #282c34;
  border-radius: 10px;
  background-color: #f0f0f0;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.1);
}


input[type="range"] {
  -webkit-appearance: none;
  width: 15%;
  height: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 2px solid #282c34;
  outline: none;
  margin-top: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #282c34;
  cursor: pointer;
}

/* Styles pour le texte */
label {
  font-size: 1.6em;
  margin-right: 10px;
  color: #282c34;
}
